.nav{
    width: 70px;
    height: 130px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: white;
    margin: 20px;
    position: fixed;
}

.home{
    position: relative;
    text-decoration: none;
    font-size: 20px;
    color: rgb(42, 85, 83);
    font-weight: 600;
    margin-left: 5px;
    padding-top: -10px;
}

.search{
    position: relative;
    text-decoration: none;
    font-size: 20px;
    color: rgb(42, 85, 83);
    font-weight: 600;
    line-height: 2px;
    margin-left: 5px;
}