.nav{
    width: 70px;
    height: 80px;
    background-color: white;
    border-radius: 5px;
    border: white;
    margin: 20px;
    position: fixed;
    margin-top: 20px;
}

.home{
    position: relative;
    text-decoration: none;
    font-size: 20px;
    color: lightseagreen;
    font-weight: 600;
    line-height: 5px;
    margin-left: 5px;
}

.about{
    position: relative;
    text-decoration: none;
    font-size: 20px;
    color: lightseagreen;
    font-weight: 600;
    line-height: 5px;
    margin-left: 5px;
}